<style>
  #shopify-section-2022-bland-selv-slik-template .filter__item__wrapper{
    overflow: scroll !important;
  }
  #shopify-section-2022-bland-selv-slik-template .filter__item__wrapper ul{
    overflow: scroll;
    max-height: 250px;
    overflow-x: hidden;
  }
  #shopify-section-2022-bland-selv-slik-template .filter__item__wrapper::-webkit-scrollbar {
    display: none;
}
  
  #shopify-section-2022-bland-selv-slik-template .filter__item__wrapper ul::-webkit-scrollbar {
  width: 12px;               
}

  .pickNmix_rowAllproducts .candyItems .candyBox{
    display: none;
  }
  .pickNmix_rowAllproducts .candyItems .candyBox:nth-child(-n+40) {
    display: block;
}
  .pickNmix_rowFirst20 .candyItems .candyBox:nth-child(-n+40) {
    display: block !important;
}
#shopify-section-2022-bland-selv-slik-template .filter__item__wrapper ul::-webkit-scrollbar-thumb {
  background-color: #ffad05;    
  border-radius: 20px;      
  border: 3px solid #f2f0f2;  
}

  
.filterScroll{
  overflow: scroll;
  overflow-x: hidden;
}
.filterScroll::-webkit-scrollbar {
  display: none;
}
  .filterScroll::-webkit-scrollbar {
  width: 0px;               
}
.filterScroll::-webkit-scrollbar-thumb {
  background-color: #f2f0f2;     
  border: 0 !important;  
}


  <!-- modal search -->
  .show-cus_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 40px;
  margin-top: -20px;
  margin-left: -75px;
  background: #3c83e7;
  color: #fff;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}
#filter-search-icon {
    display: flex;
    align-items: center;
    margin-right: 26px;
}
.drawer_locked3 #filter-search-icon{
  pointer-events: none;
}
.drawer_locked3 #filter_icon-sticky{
  pointer-events: none;
}  
.type-style-button-text {
    font-size: 16px !important;
}

.close-cus_modal {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 30px;
    background: #ffad05;
    color: #000000;
    border-radius: 4px;
    padding: 2px;
    font-weight: 600;
    border: 0;
    margin: 4px;
}


.cus_modal {
  position: fixed;
  bottom: -98px;
  width: 100%;
  padding: 20px 0;
  justify-content: center;
  left: 0;
  background: #00000059;
  z-index: 11;
  opacity: 0;
  transition: 0.3s ease-in-out;
  transform: translateY(45px);
  display: flex;
}

.active {
  visibility: visible;
  opacity: 1;
}

.cus_modal-active {
  opacity: 1;
  transform: translateY(0);
  display: flex;
  bottom: 96px;
}
 .cus_modal .filter-list{
    width: 50%;
  }
  .bland-selv-slik__sticky {
    z-index: 111;
    bottom: 0 !important;
  }

  /* filter button in sticky bar */
   #filter_icon-sticky .filters{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
  }
  #filter_icon-sticky .filter-category{
    padding: 0 15px;
    background-color: transparent !important;
    display: block !important;
}
   #filter_icon-sticky .filter-category span{
        background-color: var(--brandOrange);
    border-radius: 50%;
    display: flex;
    width: 42px;
    height: 42px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  #filter_icon-sticky .filter-category:hover span{
      background-color: #8f93a770 !important;
  }
  #filter-iconAllProdBtn:hover svg rect{
    fill: #8f93a770;
  }
  #filter_icon-sticky .filter-category svg{
    fill: var(--brandWhite);
    width: 15px;
    height: 15px;
   }
   #bland-selv-slik-online-slikekspressen .filter-holder{
     visibility: hidden;
   }
  .filter-list_search_mb{
    display: none;
  }
.bland-selv-slik__sticky .is--hidden{
  display: block !important;
}
  #filter_icon-sticky .filter-category svg line{
    stroke: #fff !important;
  }
  
  #filter_icon-sticky .filter-category svg circle{
    fill: #fff !important;
  }
  section.bland-selv-slik__sticky.fixed.left-0.transform.transition-transform.duration-300.ease-out.z-50.w-full.translate-y-full {
    --tw-translate-y: unset !important;
}
  .close-cus_filter{
    cursor: pointer;
  }
  /* easter egg */
  .easter_egg{
    max-width: 42px;
    cursor: pointer;
  }
  #easter_egg_icon-sticky{
    visibility: hidden;
  }
 
    @media only screen and (max-width: 1300px){
       #shopify-section-2022-bland-selv-slik-template .filter__item__wrapper ul{
    max-height: 116px !important;
  }
    }
  @media only screen and (max-width: 767px){
    .filter-list_search_mb{
    display: block !important;
  }
    .cus_modal-active {
      bottom: 80px !important;
      z-index: 1111 !important;
    }
    .cus_modal .filter-list {
    width: 65% !important;
}
    .max767 {
    display: flex !important;
    background: #acddd6;
    padding: 2px 10px;
    border-radius: 0 10px 0 0;
}
    #filter-iconAllProdBtn2 svg rect{
      fill: #acddd6 !important;
    }
    #filter-iconAllProdBtn2 svg path{
      stroke: #000 !important;
    }
    #filter-iconAllProdBtn2 svg circle{
      stroke: #000 !important;
    }
  }
  body{
  height: 100vh !important;
  }
</style>
{%- assign class = 'bland-selv-slik' -%}
{%- assign s = section.settings -%}
{%- assign paginateBy = s.paginate -%}
{%- assign delivery_text = 'bland_selv.speech_bubbles.delivery' | t -%}
{%- assign price_limit_text = 'bland_selv.speech_bubbles.price_limit' | t -%}

  {% paginate collection.products by paginateBy %}

  {%- capture config -%}
    {
    "handle": "{{ collection.handle }}",
    "totalProducts": {{ collection.all_products_count }},
    "paginate": {{ paginateBy | json }},
    "currentPage": {{ paginate.current_page | json }},
    "priceLimit": {{ s.price_limit | json }},
    "itemWidth": {{ s.width_item | json }},
    "plusIcon": "{{ 'plus.png' | asset_url }}",
    "minusIcon": "{{ 'minus.png' | asset_url }}"
    }
  {%- endcapture -%}

  <div
    class="{{ class }}"
    data-config='{{ config }}'
    data-component="speechBubble">
    <section class="{{ class }}__products">
      <div class="section-container candySection">
        <div class="page-container">
          <div
            class="filter----product filter fixed top-0  left-0 transform -translate-x-full  transition-transform duration-300 ease-in-out h-full pt-6 lg:pt-10  bg-white shadow-custom z-20"
            data-filter-drawer
            data-component="filterSidebar">
            <div></div>
            <div class="flex items-center justify-between mt-[20px] mb-4 px-5 lg:pl-[10px] type-style-p-small-bold" data-filter-close>
              <span class="close-cus_filter">{%- render 'icon' with 'close-dark' -%}</span>
            </div>
            
            <div></div>
            <div class="filterScroll">
              <div class="flex items-center justify-between mt-[20px] mb-4 px-5 lg:pl-[10px] type-style-p-small-bold">
                <span>{{ 'bland_selv.general.filter_title' | t }}</span>
              </div>

              <div class="filter-list h-full px-5 lg:pl-[10px] lg:pr-[30px] sm:pb-0 overflow-auto">
                {%- assign filter_cat_arr = blank -%}

                {%- for b in section.blocks -%}
                  {%- case b.type -%}
                    {%- when 'filter_type' -%}
                    {%- assign bs = b.settings -%}
                    {%- assign filter_cat_arr = filter_cat_arr | append: bs.category | append: ',' -%}
                  {%- endcase -%}
                {%- endfor -%}

                {%- assign filter_cat_arr = filter_cat_arr | split: ',' | uniq -%}

                <ul>
                  {%- for cat in filter_cat_arr -%}
                    <li class="mb-3 last:mb-0">
                      <div class="rounded-md shadow-filterItem">
                        <div class="filter__item__toggle flex items-center justify-between px-3 py-[10px] border border-filterBorder rounded-md cursor-pointer" data-filter-toggle>
                          <span class="type-style-p-small-bold">{{ cat | capitalize }}</span>
                          <span class="flex items-center justify-center w-5 h-5 transition-transform duration-200 ease-in-out" data-filter-icon>{%- render 'icon' with 'chevron-down' -%}</span>
                        </div>

                        <div class="filter__item__wrapper transition-maxHeight duration-300 ease-in-out overflow-hidden" data-filter-wrapper>
                          <ul class="">
                            {%- for b in section.blocks -%}
                              {%- case b.type -%}
                                {%- when 'filter_type' -%}
                                {%- assign bs = b.settings -%}
                                {%- assign filter_cat = bs.category -%}
                                {%- assign filter_name = bs.filter_name -%}
                                {%- assign filter_id = bs.filter_id -%}
                                {%- assign filter_type = bs.type -%}

                                {%- if filter_cat == cat -%}
                                  <li
                                    class="filter__item flex items-center justify-between px-3 py-[10px] first:pt-5 last:pb-5 cursor-pointer"
                                    data-filter-item
                                    data-filter-type="{{ filter_type }}"
                                    data-filter-id="{{ filter_id }}">
                                    <p class="transition-color duration-100 ease-out type-style-p-small-regular">{{ filter_name }}</p>
                                    <div class="filter__item__dot w-2 h-2 ml-5 border-2 border-orange rounded-full transition-color duration-100 ease-out"></div>
                                  </li>
                                {%- endif -%}
                              {%- endcase -%}
                            {%- endfor -%}
                          </ul>
                        </div>
                      </div>
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </div>
            <!-- /filter-list -->
          </div>

          {%- if s.title != blank -%}
            <div class="row">
              <div class="col-12">
                <h2 class="candyHeadline type-style-h2-regular">{{ s.title }}</h2>
                {% render 'cl-usp-list' %}
              </div>
            </div>
          {%- endif -%}

          <div class="row pickNmix_row pickNmix_rowAllproducts" id="pickNmix_row">
            <div class="col-12">

              {%- comment -%}
              <ul class="{{ class }}__products-wrapper flex flex-wrap -mt-8 -ml-2" data-product-list>
              {%- for product in collection.products -%}

              Products are loaded with javascript 
              /js/custom/blandSelvSlik.js

              {%- endfor -%}
              </ul>
              {%- endcomment -%}
              <div class="candyItems " data-product-list></div>

            </div>



          </div>

        <!-- modal search -->
            <div class="mask-cus_modal" role="dialog"></div>
              <div class="cus_modal" role="alert">

     <div class="filter-list h-full px-5 lg:pl-[10px] lg:pr-[30px] sm:pb-0 overflow-auto">
              <input placeholder="Søg efter slik her" type="text" id="filter-search" class="flex px-3 py-[10px] border border-filterBorder rounded-md"></input>
            </div>
                <button class="close-cus_modal" id="close-cus_modal" role="button">X</button>
              </div>
        <!-- end modal search -->
    
          <div class="row">
            <div class="col-12">
              <div class="flex justify-center load-more-holder">
                <button  data-load-more>
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="product-card__info fixed top-0 left-0 w-full h-screen flex items-center justify-center opacity-0 pointer-events-none transition-opacity duration-200 ease-out z-100" data-info-modal>
        <div class="overlay relative max-w-[90%] rounded-md">
          <div class="product-card__info__inner relative max-w-xl max-h-[75vh] !rounded-md bg-white text-xs sm:text-base shadow-custom">
            <div class="product-card__info__header flex items-center justify-between px-4 py-2 bg-lightPink rounded-t-md">
              <div class="flex items-center justify-center">
                <img
                  class="block w-12 h-12 mr-4 md:mr-7"
                  src=""
                  alt=""
                  data-info-modal-image>
                <span class="max-w-[80%] text-purple font-bold" data-info-modal-title></span>
              </div>
              <span class="cursor-pointer" data-close-info>{%- render 'icon' with 'close' -%}</span>
            </div>

            <div class="product-card__info__wrapper max-h-[60vh] p-4 text-purple overflow-auto" data-info-modal-description>{%- comment -%}
              Info content is inserted via js
              {%- endcomment -%}
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="{{ class }}__sticky fixed left-0 transform transition-transform duration-300 ease-out z-50 w-full" data-sticky-bar>
      <div class="{{ class }}__sticky__filter-button flex justify-start" data-sticky-filter-btn>
        <div class="max767">
          <button class="buttonCorners flex items-center justify-center w-full h-[46px] font-bold text-2xs uppercase rounded-md" data-filter-button>
            <span class="mr-[6px]">{%- render 'icon' with 'filter' -%}</span>
          </button>
          <div id="filter-search-icon2" class="show-cus_modal2 " aria-haspopup="true"><span id="filter-iconAllProdBtn2">{%- render 'icon' with 'search-light' -%}</span></div>
        </div>
      </div>
      <div style="background-color: var(--brandDarkPurple);">
        <div class="page-container" id="cus_sticky-total-btn" data-sticky-total-btn>
          <div class="row">
            <div class="col-12 hideOnMobile">
              <div class="bottomBar valignMiddle">
                <div class="leftSideBar" style="width: 40%;">
                  <div class="barGramText type-style-p-small-regular">
                    {{ 'bland_selv.general.grams' | t }}
                    <span data-gram-elem></span>.
                  </div>
                  <div class="barPriceText type-style-p-bold">
                    <span>
                      {{ 'bland_selv.general.price' | t }}
                    </span>
                    <span data-total-price-elem></span>.
                  </div>
                </div>
                <div class="rightSideBar" style="width: 60%;">
               <!-- easter egg icon in sticky bar -->
               <div class="filters-fixed" id="easter_egg_icon-sticky">
                  <button class="klaviyo_form_trigger js-confetti"  onclick="applyDiscount()"><img class="easter_egg" src="https://cdn.shopify.com/s/files/1/0555/3461/6756/files/Untitled_design__7_-removebg.png?v=1708669904" alt="easter egg"></button>
               </div>
               <!-- filter icon in sticky bar -->
               <div class="filters-fixed" id="filter_icon-sticky">
                  <div class="filters">
                    <div class="filter-search cursor-pointer" data-filter-button=""></div>
                    <div class="filter-category cursor-pointer" data-filter-button="">
                      <span id="filter-iconAllProdBtn3" class="rounded mr-[6px]"><svg class="Icon Icon--filter" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <line x1="0.5" y1="1.71429" x2="11.5" y2="1.71429" stroke="#5D2E8E" stroke-linecap="round"></line> <line x1="0.5" y1="5.71429" x2="11.5" y2="5.71429" stroke="#5D2E8E" stroke-linecap="round">
                          </line> <line x1="0.5" y1="9.71429" x2="11.5" y2="9.71429" stroke="#5D2E8E" stroke-linecap="round"></line> <circle cx="7.5" cy="1.71429" r="1.5" fill="#5D2E8E"></circle> 
                          <circle cx="3.5" cy="5.71429" r="1.5" fill="#5D2E8E">
                          </circle> <circle cx="10.5" cy="9.71429" r="1.5" fill="#5D2E8E"></circle>
                        </svg></span>
                    </div>
                  </div>
                </div>

    
                  <div id="filter-search-icon" class="show-cus_modal " aria-haspopup="true"><span id="filter-iconAllProdBtn">{%- render 'icon' with 'search-light' -%}</span></div>
                  <button class="barSeeBagButton type-style-button-text cursor-pointer" data-toggle-visual-bag>{{ 'bland_selv.general.see_bag' | t }}</button>
                  <button
                    class="barColoseBagButton type-style-button-text cursor-pointer" id="LeftbarColoseBagButton"
                    disabled
                    data-submit-button>{{ 'bland_selv.general.bag_empty' | t }}</button>
                </div>
              </div>
            </div>
            <div class="col-12 hideOnDesktop">
              <div class="bottomBar valignMiddle">
                <div class="flex" style="width: 100%;
                                                                                                                                    display: flex;
                                                                                                                                    flex-direction: row;
                                                                                                                                    flex-wrap: nowrap;
                                                                                                                                    align-content: center;
                                                                                                                                    justify-content: space-between;
                                                                                                                                    align-items: center;">
                  <div class="barGramText type-style-p-small-regular">
                    <span>{{ 'bland_selv.general.grams' | t }}</span>
                    <span data-gram-elem-mobile></span>.
                  </div>
                  <div class="barPriceText type-style-p-bold">
                    <span>
                      {{ 'bland_selv.general.price' | t }}
                    </span>
                    <span data-total-price-elem-mobile></span>.
                  </div>
                </div>
                <div class="flex" style="width: 100%;">
                  <button class="barSeeBagButton cursor-pointer" data-toggle-visual-bag>{{ 'bland_selv.general.see_bag' | t }}</button>
                  <button
                    class="barColoseBagButton cursor-pointer"
                    disabled
                    data-submit-button>{{ 'bland_selv.general.bag_empty' | t }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  {%- comment -%}
  Visual bag
  {%- endcomment -%}<div
    class="{{ class }}__visual-bag fixed top-0 left-0 w-full h-full pointer-events-none z-[46]"
    data-component="visualBag"
    data-visual-bag-wrapper>
    <div class="page-width relative h-full">
      <div id="visual-bag__close_cus" class="{{ class }}__visual-bag__inner absolute right-0 sm:right-[17px] md:right-[40px] left-0 sm:left-[unset] bottom-[80px] sm:bottom-[80px] max-h-[55vh] lg:max-h-[50vh] max-w-full sm:min-w-[500px] rounded-tl-md rounded-tr-md bg-white transition-transform ease-out duration-300 transform translate-y-[200%] shadow-subtle" data-visual-bag-inner>
        <div class="relative pb-10">
          <div class="flex items-center justify-between px-[35px] py-[15px] rounded-tl-md rounded-tr-md popup-header">
            <p class="font-body font-bold text-[30px] leading-[1] type-style-card-h">{{ 'bland_selv.general.your_bag' | t }}</p>

            <div id="visual-bag__close_cusBtn" class="{{ class }}__visual-bag__close flex items-center cursor-pointer" data-close-visual-bag>
              <span class="mr-[10px] font-heading font-bold text-sm type-style-card-h">{{ 'bland_selv.general.hide' | t }}</span>
              {%- render 'icon' with 'close-dark' -%}
            </div>
          </div>

          <ul class="{{ class }}__visual-bag__list h-[45vh] lg:h-[43vh] pt-4 pb-[70px] lg:pb-3 px-[15px] overflow-auto" data-visual-bag></ul>
          <div class="custom-scrollbar" data-custom-scrollbar></div>'
        </div>
      </div>
    </div>
    <!-- /page-width -->
  </div>

  {%- comment -%}
  Name prompt modal
  {%- endcomment -%}{%- comment -%}
  <div class="{{ class }}__name-prompt fixed top-0 left-0 w-full h-screen flex items-center justify-center z-50" data-name-prompt>
  <div class="{{ class }}__name-prompt__inner flex flex-col relative p-9 rounded-md bg-white shadow-custom">
  <div class="{{ class }}__name-prompt__close absolute" data-name-prompt-close>
  {%- render 'icon' with 'close' -%}
  </div>
  <p class="mb-3 font-body font-semibold text-2xl">{{ 'bland_selv.name_prompt.write_name' | t }}</p>
  <input class="mb-5" type="text" placeholder="{{ 'bland_selv.name_prompt.name_placeholder' | t }}" data-name-prompt-input>
  <button class="btn" type="button" onclick="addPushEvent()" data-final-submit>
  {{ 'bland_selv.name_prompt.submit' | t }}
  </button>
  </div>
  </div>
  {%- endcomment -%}<div class="{{ class }}__name-prompt fixed top-0 left-0 w-full h-screen flex items-center justify-center z-50" data-name-prompt>
    <div class="{{ class }}__name-prompt__inner flex flex-col relative p-9 rounded-md bg-white shadow-custom">
      <div class="{{ class }}__name-prompt__close absolute" data-name-prompt-close>
        {%- render 'icon' with 'close' -%}
      </div>

      <div class="max-w-xs">
        <h3 class="mb-3 text-center type-style-h3-bold">{{ 'bland_selv.name_prompt.write_name' | t }}</h3>
        <p class="mb-3 text-center type-style-p-regular">{{ 'bland_selv.name_prompt.write_description' | t }}</p>
      </div>
      <input
        class="mb-5"
        type="text"
        placeholder="{{ 'bland_selv.name_prompt.name_placeholder' | t }}"
        data-name-prompt-input>
      <button
        class="btn type-style-button-text"
        type="button"
        onclick="addPushEvent()"
        data-final-submit>
        {{ 'bland_selv.name_prompt.submit' | t }}
      </button>

      <p class="text-center type-style-p-small-regular">
        <a
          data-name-prompt-skip
          class="underline underline-offset-1"
          href="javascript:void(0);">{{ 'bland_selv.name_prompt.skip' | t }}</a>
      </p>


    </div>
  </div>

  {%- comment -%}
  Re Name prompt modal
  {%- endcomment -%}<div class="{{ class }}__name-prompt fixed top-0 left-0 w-full h-screen flex items-center justify-center z-50" data-ask-rename-prompt>
    <div class="{{ class }}__name-prompt__inner flex flex-col relative p-9 rounded-md bg-white shadow-custom">
      <div
        class="{{ class }}__name-prompt__close absolute"
        data-ask-rename-prompt-close
        style="display: none;">
        {%- render 'icon' with 'close' -%}
      </div>

      <div class="max-w-xs">
        <h3 class="mb-3 text-center type-style-h3-bold" data-ask-rename-headline>{{ "bland_selv.rename_prompt.title" | t | strip_html }}</h3>
        <p class="mb-3 text-center type-style-p-regular" data-ask-rename-description>{{ "bland_selv.rename_prompt.description" | t | strip_html }}</p>
      </div>

      <div class="btn-groups mt-3">
        <button
          class="btn type-style-button-text"
          type="button"
          data-ask-rename-submit>{{ "bland_selv.rename_prompt.accept" | t | strip_html }}</button>

        <button
          class="btn type-style-button-text"
          type="button"
          data-ask-rename-decline>
          {{ 'bland_selv.rename_prompt.decline' | t | strip_html }}
        </button>
      </div>

    </div>
  </div>

  {%- comment -%}
  Success modal
  {%- endcomment -%}<div class="{{ class }}__success-modal fixed top-0 left-0 w-full h-screen flex items-center justify-center z-50" data-success-modal>
    <div class="{{ class }}__success-modal__inner relative p-9 rounded-md bg-white shadow-custom">
      <p class="max-w-xs mb-1 font-body font-semibold text-2xl">{{ 'bland_selv.general.success' | t }}</p>
      <p class="mb-5 font-body">{{ 'bland_selv.general.what_now' | t }}</p>
      <div class="flex-button items-center justify-center">
        <a href="/collections/{{ collection.handle }}" class="btn btn-full-width mx-0 mb-2 type-style-button-text">{{ 'bland_selv.general.mix_again' | t }}</a>
        <a
          data-component="cleanPose"
          href="/cart"
          class="btn bg-purple btn-full-width mx-0 type-style-button-text"
          id="go-to-cart"
          >{{ 'bland_selv.general.go_to_cart' | t }}</a>
      </div>
    </div>
  </div>

{% endpaginate %}

<!--easter_egg TRIGGER-->
<script>
var jq = document.createElement('script');
jq.src = "https://code.jquery.com/jquery-3.6.4.min.js";
jq.onload = function() {
  jQuery.noConflict();
  jQuery(document).ready(function($) {
    $(document).on('click', '[data-id="47449666289995"]', function() {
      $('.klaviyo_form_trigger').click();
    });
  });
};

document.body.appendChild(jq);


</script>
<script type="text/javascript">
	document.querySelector('.klaviyo_form_trigger').addEventListener('click', function (){
		window._klOnsite = window._klOnsite || [];
        window._klOnsite.push(['openForm', 'WeHSdi']);
	});
</script>
<script>
      function applyDiscount() {
        // Use JavaScript to make an asynchronous request
        var xhr = new XMLHttpRequest();

        // Define the URL with the discount code and redirect
        var url = "https://www.slikekspressen.dk/discount/easter_eggText?redirect=/collections/bland-selv-slik";

        // Open the request
        xhr.open("GET", url, true);

        // Set up the callback function to handle the response
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                // Optionally, you can handle the response here
                console.log("Discount applied successfully!");
            }
        };

        // Send the request
        xhr.send();
    }


/* confetti cannon effect made with: https://www.kirilv.com/canvas-confetti/ */

const sound = document.getElementById("sound");
const triggers = document.querySelectorAll(".js-confetti");
const defaults = {
  disableForReducedMotion: true
};

function fire(particleRatio, opts) {
  confetti(
    Object.assign({}, defaults, opts, {
      particleCount: Math.floor(200 * particleRatio)
    })
  );
}

function confettiExplosion(origin) {
  fire(0.25, {
    spread: 26,
    startVelocity: 55,
    origin
  });
  fire(0.2, {
    spread: 60,
    origin
  });
  fire(0.35, {
    spread: 100,
    decay: 0.91,
    origin
  });
  fire(0.1, {
    spread: 120,
    startVelocity: 25,
    decay: 0.92,
    origin
  });
  fire(0.1, {
    spread: 120,
    startVelocity: 45,
    origin
  });
}

Array.from(triggers).forEach((trigger) => {
  trigger.addEventListener("click", () => {
    // Add a delay of 500 milliseconds before triggering the confetti explosion
    setTimeout(() => {
      const rect = trigger.getBoundingClientRect();
      const center = {
        x: rect.left + rect.width / 2,
        y: rect.top + rect.height / 2
      };
      const origin = {
        x: center.x / window.innerWidth,
        y: center.y / window.innerHeight
      };

      if (sound) {
        sound.currentTime = 0;
        sound.play();
      }
      confettiExplosion(origin);
    }, 100);
  });
});


</script>
<!--search filter-->
<script>
   <!-- click search icon and show all the products -->
        function handleFilterSearchIconClick() {
        var pickNmixRowElement = document.getElementById('pickNmix_row');

        if (pickNmixRowElement) {
            pickNmixRowElement.classList.remove('pickNmix_rowAllproducts');
        }
    }


          var filterSearchIconElement4 = document.getElementById('close-cus_modal');
    if (filterSearchIconElement4) {
        filterSearchIconElement4.addEventListener('click', handleFilterSearchIconClick);
        console.log('clicked on 4');
    }

  
    var filterSearchIconElement = document.getElementById('filter-iconAllProdBtn');
    if (filterSearchIconElement) {
        filterSearchIconElement.addEventListener('click', handleFilterSearchIconClick);
    }

var filterSearchIconElement2 = document.getElementById('filter-iconAllProdBtn2');
    if (filterSearchIconElement2) {
        filterSearchIconElement2.addEventListener('click', handleFilterSearchIconClick);
    }
var filterSearchIconElement3 = document.getElementById('filter-iconAllProdBtn3');
    if (filterSearchIconElement3) {
        filterSearchIconElement3.addEventListener('click', handleFilterSearchIconClick);
    }

  
function handleCandyItems() {
  var itemsPerPage = 30;
  var currentPage = 3;
  var allowPagination = true;

  function showMoreItems() {
    var from = currentPage * itemsPerPage;
    var to = from + itemsPerPage;

    $('.candyItems .candyBox').slice(from, to).fadeIn();
    currentPage++;
  }

  function loadInitialItems() {
    showMoreItems();
    allowPagination = true;
  }

  window.onload = function() {
    setTimeout(function() {
      loadInitialItems();

      var event = new MouseEvent('mousemove', {
        bubbles: true,
        cancelable: true,
        clientX: window.innerWidth / 2,
        clientY: window.innerHeight / 2
      });
      document.dispatchEvent(event);
    }, 1000);
  };

  $(window).scroll(function() {
    if (allowPagination) {
      var scrollPercent = ($(window).scrollTop() / ($(document).height() - $(window).height())) * 100;

      if (scrollPercent > 80) {
        showMoreItems();
      }
    }
  });

  $("#filter-search").on("input", function() {
    allowPagination = false;
  });

 // Add event listener for closing the modal
  $(".close-cus_modal").on("click", function() {
    allowPagination = true;
    loadInitialItems();
    $("#filter-search").val("");
    $("#pickNmix_row").addClass("pickNmix_rowFirst20");
  });

   $("#filter-iconAllProdBtn").on("click", function() {
    $("#pickNmix_row").removeClass("pickNmix_rowFirst20");
  });
$("#filter-iconAllProdBtn2").on("click", function() {
    $("#pickNmix_row").removeClass("pickNmix_rowFirst20");
  });

}

var jq = document.createElement('script');
jq.src = "https://code.jquery.com/jquery-3.6.0.min.js";
jq.onload = function() {
  $(document).ready(function() {
    handleCandyItems();
  });
};

document.body.appendChild(jq);

if (window.history.replaceState) {
  window.history.replaceState(null, null, window.location.pathname);
}



     <!-- overlay -->
        function checkListAndUpdateButton() {
        var ulElement = document.querySelector('.bland-selv-slik__visual-bag__list');
          var cusdrawerElement = document.querySelector('html');

        if (ulElement && ulElement.querySelectorAll('li').length === 0) {
          cusdrawerElement.classList.remove('drawer_locked3');

          var buttoncloseElement = document.getElementById('visual-bag__close_cusBtn'); // Replace 'yourButtonId' with the actual ID of your button
   if (buttoncloseElement) {
      buttoncloseElement.click(); 
   }
        } else {
            btnElement.classList.remove('is--hidden');
        }
    }

    checkListAndUpdateButton();
    var observer = new MutationObserver(function () {
        checkListAndUpdateButton();
    });
    var targetNode = document.querySelector('.bland-selv-slik__visual-bag__list');
    var config = { childList: true, subtree: true };
    observer.observe(targetNode, config);


<!--remove sticky button when no products into the bag-->
  function checkListAndUpdateButton() {
        var ulElement = document.querySelector('.bland-selv-slik__visual-bag__list');
        var btnElement = document.getElementById('cus_sticky-total-btn');

        if (ulElement && ulElement.querySelectorAll('li').length === 0) {
            btnElement.classList.add('is--hidden');
          document.getElementById("LeftbarColoseBagButton").innerHTML = "DIN POSE ER TOM";
        } else {
            btnElement.classList.remove('is--hidden');
        }
    }

    checkListAndUpdateButton();
    var observer = new MutationObserver(function () {
        checkListAndUpdateButton();
    });
    var targetNode = document.querySelector('.bland-selv-slik__visual-bag__list');
    var config = { childList: true, subtree: true };
    observer.observe(targetNode, config);
  
<!-- modal search -->

  document.addEventListener("DOMContentLoaded", function () {
    const showBtn = document.querySelector(".show-cus_modal");
    const showBtn2 = document.querySelector(".show-cus_modal2");
    const maskModal = document.querySelector(".mask-cus_modal");
    const cus_modal = document.querySelector(".cus_modal");
    const closeBtn = document.querySelector(".close-cus_modal");

    function openModal() {
      maskModal.classList.add("active");
      cus_modal.classList.add("cus_modal-active");
    }

    function closeModal() {
      maskModal.classList.remove("active");
      cus_modal.classList.remove("cus_modal-active");
    }

    showBtn.addEventListener("click", openModal);
    showBtn2.addEventListener("click", openModal);
    closeBtn.addEventListener("click", closeModal);
    maskModal.addEventListener("click", closeModal);

    document.addEventListener("keyup", function (e) {
      if (e.key === "Escape") closeModal();
    });
  });

<!-- end modal search -->



  <!-- search -->
const input = document.getElementById('filter-search');

input.addEventListener('keyup', () => {
  const filter = input.value.toUpperCase();
  const ulp = document.querySelector('.candyItems'); // Changed querySelectorAll to querySelector
  const lip = ulp.querySelectorAll('.candyBox');

  for (let i = 0; i < lip.length; i++) {
    const ap = lip[i].querySelector('.candyBoxName'); // Changed querySelectorAll to querySelector
    const textValue = ap.textContent || ap.innerText;
    const textUpperCase = textValue.toUpperCase();
    if (textUpperCase.includes(filter)) {
      lip[i].style.display = ''; // Show the candy box
    } else {
      lip[i].style.display = 'none'; // Hide the candy box
    }
  }
});


<!-- search result disappear issue -->
    // Get the input element
    var filterInput = document.getElementById('filter-search');

    // Get all candy boxes
    var candyBoxes = document.querySelectorAll('.candybox');

    // Add input event listener
    filterInput.addEventListener('input', function() {
      // Get the user input value
      var filterValue = filterInput.value.toLowerCase();

      // Loop through each candy box
      candyBoxes.forEach(function(candyBox) {
        // Check if the candy box text contains the filter value
        if (candyBox.textContent.toLowerCase().includes(filterValue)) {
          // If it does, set display to "block"
          candyBox.style.display = 'block';
        } else {
          // If it doesn't, hide the candy box
          candyBox.style.display = 'none';
        }
      });
    });


  //add to cart overlay effect

  var jq = document.createElement('script');
    jq.src = "https://code.jquery.com/jquery-3.6.4.min.js";
    jq.onload = function() {

      $('#go-to-cart').click(function(){
            $('#bland-selv-slik-online-slikekspressen').addClass('drawer_locked3');
            $(".cart-link").click();
            $('#drawer-cart').addClass('atcEngopened');
        });
      
    };
    document.head.appendChild(jq);
</script>

<!--//GTM dataLayer add_to_cart event-->
<script>
  function addPushEvent() {
    
    fetch(`${window.location.origin}/cart.js`)
      .then(res => res.clone().json().then(data => {
        var cart = {
          total_price: data.total_price/100,
          $value: data.total_price/100,
          total_discount: data.total_discount,
          original_total_price: data.original_total_price/100,
          items: data.items
        }
        _learnq.push(['track', 'Added to Cart', cart]);
      }))
    
    setTimeout(() => {
      var idsStrArray = [];
      var a = document.querySelectorAll('div.product-card__qty-wrapper.is--visible');
      for (var j in a) 
        if (a.hasOwnProperty(j)) {
          idsStrArray.push(a[j].getAttribute('data-qty-id'));
        }
      



      var idsNumArray = idsStrArray.map(Number);
      var cartContents = fetch(window.Shopify.routes.root + 'cart.js').then(response => response.json()).then(data => {
        var contents = [];
        var lineproducts = data.items;
        idsNumArray.forEach(item => {
          for (let i = 0; i < lineproducts.length; i++) {
            if (item == lineproducts[i]['id']) {
              contents.push({
                'item_name': lineproducts[i]['title'],
                'item_id': lineproducts[i]['product_id'],
                'item_sku': lineproducts[i]['sku'],
                'item_variant': lineproducts[i]['variant_id'],
                'price': lineproducts[i]['price'] / 100,
                'item_brand': lineproducts[i]['vendor'],
                'item_category': lineproducts[i]['product_type'],
                'item_image': lineproducts[i]['image'],
                'quantity': lineproducts[i]['quantity']
              });
            }
          }
        });
        dataLayer.push({ecommerce: null});
        dataLayer.push({
          'event': 'add_to_cart_stape',
          'ecommerce': {
            'currency': data.currency,
            'items': contents
          }
        });
      });
    }, "500")
  }

  document.addEventListener("DOMContentLoaded", function () {
    document.getElementById("go-to-cart").addEventListener("click", function () {
      let url = new URL(window.location.href);
      if(url.searchParams.has("select-product")) {
        url.searchParams.delete("select-product");
        history.replaceState(null, "", url.toString());
      }
    });
  });
</script>


{% schema %}
  {
    "name": "Bland-selv-slik settings",
    "settings": [
      {
        "type": "richtext",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "header",
        "content": "Paginate products",
        "info": "How many products to show per page"
      },
      {
        "type": "range",
        "id": "paginate",
        "label": "Paginate",
        "min": 8,
        "max": 600,   
        "step": 8,   
        "default": 240
      },
      {
        "type": "header",
        "content": "Price limit",
        "info": "The limit in kilogram to when the user can close the bag"
      }, {
        "type": "number",
        "id": "price_limit",
        "label": "Price limit",
        "default": 129
      }, {
        "type": "number",
        "id": "width_item",
        "label": "Item Width",
        "default": 275
      }, {
        "type": "radio",
        "id": "autoload",
        "label": "Pagination Type",
        "default": "button",
        "options": [
          {
            "value": "button",
            "label": "By Click Button"
          }, {
            "value": "automaticly",
            "label": "Autoload by cursor"
          }
        ]
      }
    ],
    "blocks": [
      {
        "name": "Filter type",
        "type": "filter_type",
        "settings": [
          {
            "type": "select",
            "id": "category",
            "label": "Filter category",
            "options": [
              {
                "value": "kategori",
                "label": "Kategori"
              }, {
                "value": "indhold",
                "label": "Indhold"
              }, {
                "value": "favoritter",
                "label": "Favoritter"
              }
            ]
          }, {
            "type": "select",
            "id": "type",
            "label": "Type or Tag",
            "options": [
              {
                "value": "type",
                "label": "Type"
              }, {
                "value": "tags",
                "label": "Tags"
              }
            ]
          }, {
            "type": "text",
            "id": "filter_id",
            "label": "Filter id",
            "info": "Exact name as type or whole tag, eg. 'type_sukkerfri'"
          }, {
            "type": "text",
            "id": "filter_name",
            "label": "Filter name"
          }
        ]
      }
    ]
  }
{% endschema %}