<div class="section-container infoBox hideOnMobile">
	<div class="row">
		<div class="col-6 ">	
			<div class="someBox rightRadius">
				<div style="">
					<div style="display: inline-flex;justify-content: flex-end;height: 186px;width: 100%;align-items: center;">
						<div class="someHeadline">
                          <h4 class="type-style-h4-bold">
                            {{ section.settings.headline_social }}
                          </h4>
                        </div>
						<div class="socialIcons">
							<a href="https://www.facebook.com/slikekspressen/" target="_blank">
								{% comment %} <img src="https://cdn.shopify.com/s/files/1/0555/3461/6756/files/facebook.png?v=1662570809"> {% endcomment %}
								<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M3.75 0C1.67893 0 0 1.67893 0 3.75V26.25C0 28.3211 1.67893 30 3.75 30H15.0398V20.8567H11.25V15.8538H15.0398V13.9187C15.0398 10.5206 17.6148 7.5 20.8216 7.5H25V12.5028H20.8216C20.3843 12.5028 19.8498 13.022 19.8498 13.8244V15.8066H25V20.8095H19.8498V30H26.25C28.3211 30 30 28.3211 30 26.25V3.75C30 1.67893 28.3211 0 26.25 0H3.75Z" fill="#323232"/>
								</svg>									
							</a>
						</div>
						<div class="socialIcons">
							<a href="https://www.instagram.com/slikekspressen/" target="_blank">
								{% comment %} <img src="https://cdn.shopify.com/s/files/1/0555/3461/6756/files/insta.png?v=1662570795"> {% endcomment %}
								<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M19.9998 14.9997C19.9998 17.7613 17.7613 20.0001 14.9998 20.0001C12.2384 20.0001 9.99985 17.7613 9.99985 14.9997C9.99985 12.2381 12.2384 9.99939 14.9998 9.99939C17.7613 9.99939 19.9998 12.2381 19.9998 14.9997Z" fill="#323232"/>
									<path fill-rule="evenodd" clip-rule="evenodd" d="M0 2.5C0 1.11929 1.11929 0 2.5 0H27.5C28.8807 0 30 1.11929 30 2.5V27.5C30 28.8807 28.8807 30 27.5 30H2.5C1.11929 30 0 28.8807 0 27.5V2.5ZM27.5 4.99854C27.5 6.37903 26.3807 7.49815 25 7.49815C23.6193 7.49815 22.5 6.37903 22.5 4.99854C22.5 3.61804 23.6193 2.49893 25 2.49893C26.3807 2.49893 27.5 3.61804 27.5 4.99854ZM14.9998 23.7501C19.8326 23.7501 23.7498 19.8322 23.7498 14.9997C23.7498 10.1673 19.8326 6.24939 14.9998 6.24939C10.1671 6.24939 6.24985 10.1673 6.24985 14.9997C6.24985 19.8322 10.1671 23.7501 14.9998 23.7501Z" fill="#323232"/>
								</svg>
							</a>
						</div>
						<div class="socialIcons" target="_blank" hidden>
							<a href="/">
								{% comment %} <img src="https://cdn.shopify.com/s/files/1/0555/3461/6756/files/youtube.png?v=1662570781"> {% endcomment %}
								<svg width="40" height="26" viewBox="0 0 40 26" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M19.9863 0C12.1454 0 4.30444 0.560012 2.59881 1.68004C-0.866269 3.92008 -0.866269 22.0799 2.59881 24.32C6.06388 26.56 33.9666 26.56 37.4152 24.32C40.8637 22.0799 40.8595 3.92008 37.4152 1.68004C35.6888 0.560012 27.8479 0 20.0277 0H19.9863ZM16.0079 7.56595L26.1009 13L16.0079 18.434V7.56595Z" fill="#323232"/>
								</svg>
							</a>
						</div>
						<div class="socialIcons">&nbsp;</div>
						<div class="socialIcons">&nbsp;</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="newsletterBox leftRadius" >
				<div class="newsletterDesktop" style="display: flex;height: 186px;width: 100%;flex-direction: column;justify-content: center;align-items: flex-start;padding-left: 30px;">
					<h4 class="type-style-h4-bold">
                      {{ section.settings.headline_newsletter }}
                    </h4>
                    <p class="type-style-p-regular">
        				{{ section.settings.content_newsletter }}
					</p>
					<a href="{{ section.settings.button_destination_newsletter }}">
						<div class="normalButton type-style-button-text">
							{{ section.settings.button_text_newsletter }}
						</div>
					</a>
				</div>						
			</div>
		</div>
	</div>
</div>
<div class="section-container infoBox hideOnDesktop">
	<div class="page-container">
		<div class="row">
			<div class="col-6 ">
				<div class="someBox leftRadius rightRadius">
					<div class="row">		
						<div class="col-6">
							<h4 class="someHeadline type-style-h4-bold">{{ section.settings.headline_social }}</h4>
							<div class="someBorder"></div>
						</div>
						<div class="col-6 ">
							<div class="row">		
								<div class="col-4 mobileRight" >
                  <a href="https://www.facebook.com/slikekspressen/" target="_blank">
      							{% comment %} <img src="https://cdn.shopify.com/s/files/1/0555/3461/6756/files/facebook.png?v=1662570809" class="imgDisplay"> {% endcomment %}
										<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M3.75 0C1.67893 0 0 1.67893 0 3.75V26.25C0 28.3211 1.67893 30 3.75 30H15.0398V20.8567H11.25V15.8538H15.0398V13.9187C15.0398 10.5206 17.6148 7.5 20.8216 7.5H25V12.5028H20.8216C20.3843 12.5028 19.8498 13.022 19.8498 13.8244V15.8066H25V20.8095H19.8498V30H26.25C28.3211 30 30 28.3211 30 26.25V3.75C30 1.67893 28.3211 0 26.25 0H3.75Z" fill="#323232"/>
										</svg>
									</a>
								</div>
								<div class="col-4 mobileCenter">
									<a href="https://www.instagram.com/slikekspressen/" target="_blank">
										{% comment %} <img src="https://cdn.shopify.com/s/files/1/0555/3461/6756/files/insta.png?v=1662570795" class="imgDisplay"> {% endcomment %}
										<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M19.9998 14.9997C19.9998 17.7613 17.7613 20.0001 14.9998 20.0001C12.2384 20.0001 9.99985 17.7613 9.99985 14.9997C9.99985 12.2381 12.2384 9.99939 14.9998 9.99939C17.7613 9.99939 19.9998 12.2381 19.9998 14.9997Z" fill="#323232"/>
											<path fill-rule="evenodd" clip-rule="evenodd" d="M0 2.5C0 1.11929 1.11929 0 2.5 0H27.5C28.8807 0 30 1.11929 30 2.5V27.5C30 28.8807 28.8807 30 27.5 30H2.5C1.11929 30 0 28.8807 0 27.5V2.5ZM27.5 4.99854C27.5 6.37903 26.3807 7.49815 25 7.49815C23.6193 7.49815 22.5 6.37903 22.5 4.99854C22.5 3.61804 23.6193 2.49893 25 2.49893C26.3807 2.49893 27.5 3.61804 27.5 4.99854ZM14.9998 23.7501C19.8326 23.7501 23.7498 19.8322 23.7498 14.9997C23.7498 10.1673 19.8326 6.24939 14.9998 6.24939C10.1671 6.24939 6.24985 10.1673 6.24985 14.9997C6.24985 19.8322 10.1671 23.7501 14.9998 23.7501Z" fill="#323232"/>
										</svg>
									</a>
								</div>
								<div class="col-4 mobileLeft" hidden>
									<a href="/">
										{% comment %} <img src="https://cdn.shopify.com/s/files/1/0555/3461/6756/files/youtube.png?v=1662570781" class="imgDisplay"> {% endcomment %}
										<svg width="40" height="26" viewBox="0 0 40 26" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M19.9863 0C12.1454 0 4.30444 0.560012 2.59881 1.68004C-0.866269 3.92008 -0.866269 22.0799 2.59881 24.32C6.06388 26.56 33.9666 26.56 37.4152 24.32C40.8637 22.0799 40.8595 3.92008 37.4152 1.68004C35.6888 0.560012 27.8479 0 20.0277 0H19.9863ZM16.0079 7.56595L26.1009 13L16.0079 18.434V7.56595Z" fill="#323232"/>
										</svg>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="newsletterBox leftRadius rightRadius">
					<h4 class="type-style-h4-bold">{{ section.settings.headline_newsletter }}</h4>
					<p class="type-style-p-regular">
						{{ section.settings.content_newsletter }}
					</p>
					<a href="{{ section.settings.button_destination_newsletter }}">
						<div class="normalButton">
							{{ section.settings.button_text_newsletter }}
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% schema %}
  {
  	"name": "2022 - Social section",
  	"tag": "section",
  	"class": "shopadjust-top",
    "settings": [
	  {
          "type": "text",
          "id": "headline_social",
          "label": "Overskrift - some"
      },      
	  {
          "type": "text",
          "id": "headline_newsletter",
          "label": "Overskrift - nyhedsbrev"
      },
      {
          "type": "text",
          "id": "content_newsletter",
          "label": "Tekst - nyhedsbrev"
      },
      {
          "type": "text",
          "id": "button_text_newsletter",
          "label": "Tekst på knap - nyhedsbrev"
      },
      {
          "type": "url",
          "id": "button_destination_newsletter",
          "label": "Side link - nyhedsbrev"
      }
	],
    "presets": [
      {
        "name": "2022 - Social section"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}