  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css" />
<style>
  .owl-theme .owl-controls .owl-buttons div {
  position: absolute;
}
 
.owl-theme .owl-controls .owl-buttons .owl-prev{
  left: -70px;
    top: 50%;
    border: 1px solid #000;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
}
 
.owl-theme .owl-controls .owl-buttons .owl-next{
  right: -70px;
    top: 50%;
    border: 1px solid #000;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .swiper-wrapper-new .candyBox{
    float: none !important;
  }
  .swiper-wrapper-new{
    margin-top: 50px;
  }
  #swiper-homepage-products{
    margin-bottom: 10px !important;
  }
  #swiper-homepage-products h2{
    margin-bottom: 10px !important;
  }
  .champagneflaske_christmas .productBoxContent {
    margin-top: 50px !important;
    margin-bottom: 0 !important;
    padding-bottom: 150px;
}
  .champagneflaske_christmas .productPartMix {
    margin: 10px !important;
}
  .ps_text1{
    font-size: 20px !important;
  }
  .swiper-wrapper-new .candyBoxBuyButton{
    padding-top: 6px !important;
    font-size: 16px !important;
    padding-bottom: 6px !important;
  }
  .candyboxprodprice{
    margin-top: 5px;
    font-weight: 600;
    color: #a175ae;
  }
  .swiper-wrapper-new .owl-wrapper-outer{
        padding-bottom: 50px;
  }
  .swiper-wrapper-new .candyBoxBuySection{
    height: auto !important;
  }
 #swiper-homepage-products .candyBoxImage img{
    height: auto;
    object-fit: cover;
 }
  #swiper-homepage-products .candyBoxName {
    height: 45px;
}
  @media only screen and (max-width: 767px){
  .swiper-wrapper-new .owl-item .candyBox{
    padding: 0 60px !important;
  }
    .swiper-wrapper-new{
    padding: 0 !important;
  }
  .owl-theme .owl-controls .owl-buttons .owl-prev{
  left: 6px !important;
    height: 36px !important;
    width: 36px !important;
}
 
.owl-theme .owl-controls .owl-buttons .owl-next{
  right: 6px !important;
    height: 36px !important;
    width: 36px !important;
}
     .candyboxprodprice{
    font-size: 14px;
  }
.swiper-wrapper-new .candyBoxBuySection{
    height: auto !important;
  }
    #swiper-homepage-products .candyBox {
    height: 260px !important;
}
}
</style>
<div data-component="homepageProducts">
  <section id="swiper-homepage-products">
    <h2 class=" page-container type-style-h2-bold twb-my-8">{{ section.settings.title }}</h2>
    <p class=" page-container ps_text1">{{ section.settings.text1 }}</p>
    <p class=" page-container ">{{ section.settings.text2 }}</p>
    <div class="swiper-wrapper-new page-container" id="swiper-wrapper-new">
      {% for product in section.settings.products.products %}
        <div
          class="candyBox relative twb-select-none "
          data-product-id="{{ product.id }}"
          data-product-title="{{ product.title }}"
        >
          <div>
            {% comment %}<div class="twb-right-4 absolute top-0 text-pink cursor-pointer z-10" data-info-icon>
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle
                cx="10"
                cy="10"
                r="10"
                fill="#FFAD05" /><path d="M9.35001 5C9.13334 5 9 5.13656 9 5.37553V6.65576C9 6.87767 9.13334 7 9.35001 7H10.65C10.8667 7 11 6.87767 11 6.65576V5.37553C11 5.13656 10.8667 5 10.65 5H9.35001ZM9.35001 8.64154C9.13334 8.64154 9 8.77809 9 9V14.6415C9 14.8634 9.13334 15 9.35001 15H10.65C10.8667 15 11 14.8634 11 14.6415V9C11 8.77809 10.8667 8.64154 10.65 8.64154H9.35001Z" fill="white" />
              </svg>
            </div>{% endcomment %}
            <div>
              <div class="candyBoxImage cursor-pointer">
                {{ product.images[0] | image_url: width: 300 | image_tag }}
              </div>
            </div>
          <div class="candyBoxBuySection">
            <div class="candyBoxBuySectionContent">
              <div class="candyBoxName type-style-card-h">{{ product.title }}</div>
              <div class="candyBoxBrand type-style-card-h-subhead">
                fra
                <span>{{ product.vendor }}</span>
              </div>
              <a href="{{ product.url }}" class="candyBoxBuyButton type-style-button-text">Se produkt</a>
              <p class="candyboxprodprice">{{ product.price | money_with_currency }}</p>
            </div>
          </div>

          </div>
        </div>
      {% endfor %}
    </div>
  </section>
</div>

{% for product in section.settings.products.products %}
  <div
    id="modal-{{ product.id }}"
    class="modal product-card__info fixed twb-inset-0 w-full h-screen flex items-center justify-center transition-display duration-200 ease-out z-100 align-middle"
  >
    <div class="overlay relative max-w-xl flex items-center justify-center rounded-md">
      <div class="product-card__info__inner relative max-h-[75vh] !rounded-md bg-white text-xs sm:text-base shadow-custom">
        <div class="product-card__info__header flex items-center justify-between px-4 py-2 bg-lightPink rounded-t-md">
          <div class="flex items-center justify-center">
            {{ product.images[0] | image_url: width: 200 | image_tag: class: 'w-12 h-12 mr-4 md:mr-7 block' }}
            <span class="max-w-80 text-purple font-bold">{{ product.title }}</span>
          </div>
          <span class="close-modal cursor-pointer">{%- render 'icon' with 'close' -%}</span>
        </div>
        <div class="product-card__info__wrapper max-h-[60vh] p-4 text-purple overflow-auto">
          {{ product.description }}
        </div>
      </div>
    </div>
  </div>
{% endfor %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.js"></script>                
  <script>
$(document).ready(function () {
  var carousel = $("#swiper-wrapper-new");
  carousel.owlCarousel({
    items: 4,
    dots: true,
    navigation: true,
    navigationText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"],
    responsive: {
      0: {
        items: 1,
        center: false, 
        loop: false 
      },
      768: {
        items: 1,
        center: false, 
        loop: false 
      },
      1024: {
        items: 4,
        center: true,
        loop: true 
      }
    }
  });
});


  </script>
{% schema %}
{
  "name": "christmas-prodSlider",
  "tag": "section",
  "class": "shopadjust-top",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Homepage Products"
    },
    {
      "type": "text",
      "id": "text1",
      "label": "Text"
    },
     {
      "type": "text",
      "id": "text2",
      "label": "Subtext"
    },
    {
      "type": "collection",
      "id": "products",
      "label": "Products",
      "info": "Select products to display on homepage"
    }
  ],
  "presets": [
    {
      "name": "christmas-prodSlider"
    }
  ]
}
{% endschema %}
