<style> 
  .collapsible__content .type-style-p-regular{
    text-align: left;
  }
  .collapsible__content .type-style-p-regular h1{
    font-size: 20px;
  }
  .pickNmix_row .candyItems .candyBox{
    display: none;
  }
   .pickNmix_row .bland-selv-slik__visual-bag__list .drawer_2_content_product_delete_shopAdjust{
    cursor: pointer;
  }
  .pickNmix_row .bland-selv-slik__visual-bag__list .drawer_2_content_product_minusOne_shopAdjust{
    cursor: pointer;
  }
  .pickNmix_row .bland-selv-slik__visual-bag__list .drawer_2_content_product_plusOne_shopAdjust{
    cursor: pointer;
  }
  .pickNmix_row .bland-selv-slik__visual-bag__list{
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
  }
  .pickNmix_row .popup-header{
    border-bottom: 1px solid #D3B5D1;
  }
  .pickNmix_row .bland-selv-slik__visual-bag__list li:last-child{
    order: -4;
    transition: 0.3s ease-in-out;
  }
  .pickNmix_row .bland-selv-slik__visual-bag__list li:nth-last-child(2){
    order: -3;
    transition: 0.3s ease-in-out;
  }
  .pickNmix_row .bland-selv-slik__visual-bag__list li:nth-last-child(3){
    order: -2;
    transition: 0.3s ease-in-out;
  }
  .pickNmix_row .bland-selv-slik__visual-bag__list li:nth-last-child(4){
    order: -1;
    transition: 0.3s ease-in-out;
  }
  .pickNnix_topProd .usp p{
    color: #fff !important;
  }
  /* top product css */
  .collapsible{
    margin: 0 20% 0 0;
  }
   .collapsible__button {
    background-color: #ebeef0;
    color: #183246;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    margin-top: 30px;
    border: none;
    font-weight: bold;
    text-align: left;
    outline: none;
    font-size: 16px;
    border-radius: 8px;
    position: relative;
  }
  
  .collapsible__button.active,
  .collapsible__button:hover {
    background-color: #fff;
  }

  .collapsible__content {
    padding: 18px;
    background-color: #fff;
    max-height: 0px;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
    width: 100%;
    opacity: 0;
    margin-top: -6px;
    overflow-y: scroll;
    border-radius: 0px 0px 10px 10px;
  }
  .collapsible__content::-webkit-scrollbar {
  display: none;
}

  .collapsible__button:after {
    content: "\221F";
    transform: rotate(-140deg);
    font-size: 16px;
    float: right;
    margin-left: 5px
    transition: 0.3s ease-in-out;
  }

  .content--active:after {
    content: "\221F";
    transform: rotate(-45deg);
  }
  .content--active{
    background-color: #fff;
}
  .pickNnix_topProd{
    background-image: url(/cdn/shop/files/baggroundRepport.png?v=1662549005);
    background-position: center;
    max-width: 100% !important;
  }
  .pick-n-mix-pImage{
    width: 40% !important;
    justify-content: flex-start;
  }
  .pick-n-mix-pInfo{
    width: 60% !important;
    padding: 50px;
  }
 .pickNnix_top_img img{
   cursor: default !important;
 }
  #shopify-section-pick_n_mix_temp1 .container{
    width: 95% !important;
  }
  #shopify-section-pick_n_mix_temp1 .filter----product{
    display: none;
  }
  #shopify-section-pick_n_mix_temp1 .bland-selv-slik__sticky__filter-button{
    display: none;
  }
  .bland-selv-slik__visual-bag__closeBtn{
    overflow: hidden;
    background: #f2f0f2;
    padding: 12px 0;
    text-align: center;
    border-radius: 0 0 6px 6px;
    border-top: 1px solid #D3B5D1;
  }
  .bland-selv-slik__visual-bag__closeBtn .barColoseBagButton{
    width: 60%;
    margin: 0 auto;
    padding: 0 !important;
    height: 40px;
    font-size: 12px;
  }
  @media only screen and (max-width: 767px){
    .pickNnix_topProd .collapsible{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .pick-n-mix-pImage{
      width: 100% !important;
    }
    .pick-n-mix-pInfo{
      width: 90% !important;
      padding: 20px;
    }
    .pickNnix_topProd .candyBoxBuySectionContent {
    transform: translate(18px, 0px) !important;
    width: 90%;
}
  #ProductSection-{{ section.id }}{
    flex-direction: column;
    }
  .pick-n-mix-pInfo article{
    width: 100% !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }
  .collapsible__content {
    width: 80% !important;
  }
  .collapsible__button {
    width: 80% !important;
    font-size: 14px !important;
    margin-top: 0 !important;
    text-align: center;
    padding: 14px 18px !important;
  }
    #candyBoxBuyButtonTop {
    width: 100% !important;
}
    }
  /* end top product css */
  #shopify-section-new_template_with_mixing .container{
    padding: 0 !important;
  }
  .translate-y-\[200\%\] {
    --tw-translate-y: unset;
    transform: unset;
}
  #shopify-section-pick_n_mix_temp1 .bland-selv-slik__sticky{
    z-index: 11111 !important;
  }

  .pickNnix_topProd_container{
    display: flex;
    flex-direction: column;
  }
  .pickNnix_topProd .pickNnix_top{
    display: flex;
    padding: 100px 0 50px;
    align-items: flex-start;
  }
  .pickNnix_topProd .pickNnix_top_img{
    width: 50%;
  }
  .pickNnix_topProd .candyBoxBuySection-clicked{
    width: 50%;
  }
  .pickNnix_topProd .candyBoxBuySection {
    height: unset !important;
    background-color: unset !important;
    margin-top: 30px !important;
}
   .pickNnix_topProd .candyBoxContent{
    width: 50%;
}
   .pickNnix_topProd .topcandyBoxImage {
    width: 50% !important;
    margin-left: auto;
    margin-right: auto;
}
 .pickNnix_topProd .candyBoxName {
    color: #fff !important;
    font-size: 46px !important;
    text-align: left;
}
 .pickNnix_topProd .candyBoxBuySectionContent {
    padding: 0px 0px 20px !important;
}
.pickNnix_topProd .candyBoxBrand {
    color: #FFAD05 !important;
    padding: 12px 0 !important;
    font-size: 20px !important;
    text-align: left;
}
.pickNnix_topProd [data-item-inner].is--selected .candyBoxBuySection-clicked.is--visible {
    height: auto !important; 
    background-color: unset !important;
    width: 80% !important;
}
 .pickNnix_topProd .candyBoxBuyButtonClicked{
    width: 50% !important;
  }
 .pickNnix_topProd .candyBoxBuySection-clicked {
    margin-top: 30px !important;
}
 .pickNnix_topProd .candyBoxBuyButton {
    display: flex !important;
    width: 50% !important;
}
  .pickNmix_row .bland-selv-slik__visual-bag .drawer_2_content_product_content_shopAdjust{
    width: 130px;
  }
  @media only screen and (min-width: 768px){
    #shopify-section-pick_n_mix_temp1 .barSeeBagButton{
      display: none;
    }
  #shopify-section-pick_n_mix_temp1 .candyHeadline p{
    font-size: 20px !important;
    padding-bottom: 20px;
  }
#shopify-section-pick_n_mix_temp1 .bland-selv-slik__visual-bag-desktop{
    z-index: 11 !important;
    position: sticky;
    top: 125px;
} 
  #shopify-section-pick_n_mix_temp1 .candyItems {
    grid-template-columns: 1fr 1fr 1fr !important;
}
  #shopify-section-pick_n_mix_temp1 .bland-selv-slik__visual-bag__inner-desktop  {
    padding-left: 20px;
  }
  #shopify-section-pick_n_mix_temp1 .bland-selv-slik__visual-bag__inner-desktop  .pb-10{
    background: #F2F0F2;
    border-radius: 10px;
  }
  #shopify-section-pick_n_mix_temp1 .drawer_2_content_product_minus {
    margin-top: 0px !important;
}
  #shopify-section-pick_n_mix_temp1 .drawer_2_content_product_plus {
    margin-top: 1px !important;
}
    #shopify-section-pick_n_mix_temp1 .bland-selv-slik__visual-bag__close{
    visibility: hidden;
  }
}
@media only screen and (min-width: 1400px){
    .pickNmix_row .bland-selv-slik__visual-bag .drawer_2_content_product_content_shopAdjust {
    width: 145px;
}
  }
@media only screen and (max-width: 767px){
  #shopify-section-pick_n_mix_temp1 .candyBox{
    height: 100% !important;
  }
  .pickNnix_topProd .pickNnix_top{
    padding: 50px 0 0!important;
    flex-direction: column;
  }
  .pickNnix_topProd .pickNnix_top_img {
    width: 100% !important;
}
  .pickNnix_topProd .candyBoxContent {
    width: 100% !important;
}
     .pickNnix_topProd .topcandyBoxImage {
    width: 90% !important;
}
  .pickNnix_topProd_container{
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  #shopify-section-pick_n_mix_temp1 .bland-selv-slik__visual-bag{
    display: none;
    top: 0;
    left: 0;
    z-index: 46;
    height: 100%;
    width: 100%;
  }
  #shopify-section-pick_n_mix_temp1 .bland-selv-slik__visual-bag__inner{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 80px;
    max-height: 55vh;
    max-width: 100%;
    transform: var(--tw-transform);
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    --tw-bg-opacity: 1;
    background-color: rgba(255,255,255,var(--tw-bg-opacity));
    --tw-shadow: 0 2px 20px rgba(0, 0, 0, .15);
    box-shadow: 0 0 #0000,0 0 #0000,var(--tw-shadow);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)),var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)),var(--tw-shadow);
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(0,0,.2,1);
  }
  #shopify-section-pick_n_mix_temp1 .translate-y-\[200\%\] {
  --tw-translate-y: 200% !important;
  transform: var(--tw-transform) !important;
}
.collapsible {
    margin: 0 !important;
}
   .pickNnix_topProd [data-item-inner].is--selected .candyBoxBuySection-clicked.is--visible{
    width: 90%;
 }
}
 
</style>
{%- assign class = 'bland-selv-slik' -%}
{%- assign s = section.settings -%}
{%- assign paginateBy = s.paginate -%}
{%- assign delivery_text = 'bland_selv.speech_bubbles.delivery' | t -%}
{%- assign price_limit_text = 'bland_selv.speech_bubbles.price_limit' | t -%}

{% paginate collections[s.collection_handle].products by paginateBy %}

  {%- capture config -%}
    {
    "handle": "{{ s.collection_handle }}",
    "totalProducts": {{ collections[s.collection_handle].all_products_count }},
    "paginate": {{ paginateBy | json }},
    "currentPage": {{ paginate.current_page | json }},
    "priceLimit": {{ s.price_limit | json }},
    "itemWidth": {{ s.width_item | json }},
    "plusIcon": "{{ 'plus.png' | asset_url }}",
    "minusIcon": "{{ 'minus.png' | asset_url }}"
    }
  {%- endcapture -%}
  
  <div
    class="{{ class }}"
    data-config='{{ config }}'
    data-component="speechBubble">
    
 
      {% comment %} featured product in mixing section - test {% endcomment %}
   <div class="pickNnix_topProd">
     <div class="pickNnix_topProd_container container">
       {% render 'pNm_product' %}
    {% comment %} end featured product in mixing section - test {% endcomment %}
 {% render 'cl-usp-list' %}


  </div></div>
    
    <section class="{{ class }}__products"  id="pickNmix_row_jump">
      <div class="section-container candySection">
        <div class="container">
          <div
            class="filter----product filter fixed top-0  left-0 transform -translate-x-full  transition-transform duration-300 ease-in-out h-full pt-6 lg:pt-10  bg-white shadow-custom z-20"
            data-filter-drawer
            data-component="filterSidebar">
            <div></div>
            <div class="flex items-center justify-between mt-[20px] mb-4 px-5 lg:pl-[10px] type-style-p-small-bold" data-filter-close>
              <span class="">{%- render 'icon' with 'close-dark' -%}</span>
            </div>
            <div></div>
            <div class="flex items-center justify-between mt-[20px] mb-4 px-5 lg:pl-[10px] type-style-p-small-bold">
              <span>Søg produkt</span>
            </div>
            <div id="filter-search-icon"><span>{%- render 'icon' with 'search-light' -%}</span></div>
            <div class="filter-list h-full px-5 lg:pl-[10px] lg:pr-[30px] sm:pb-0 overflow-auto">
              <input type="text" id="filter-search" class="flex px-3 py-[10px] border border-filterBorder rounded-md"></input>
            </div>
            <div></div>
            <div>
              <span id="filter-search-error" class="type-style-p-small-regular"></span>
            </div>
            <div></div>
            <div>
              <div class="flex items-center justify-between mt-[20px] mb-4 px-5 lg:pl-[10px] type-style-p-small-bold">
                <span>{{ 'bland_selv.general.filter_title' | t }}</span>
              </div>

              <div class="filter-list h-full px-5 lg:pl-[10px] lg:pr-[30px] sm:pb-0 overflow-auto">
                {%- assign filter_cat_arr = blank -%}

                {%- for b in section.blocks -%}
                  {%- case b.type -%}
                    {%- when 'filter_type' -%}
                    {%- assign bs = b.settings -%}
                    {%- assign filter_cat_arr = filter_cat_arr | append: bs.category | append: ',' -%}
                  {%- endcase -%}
                {%- endfor -%}

                {%- assign filter_cat_arr = filter_cat_arr | split: ',' | uniq -%}
 
                <ul>
                  {%- for cat in filter_cat_arr -%}
                    <li class="mb-3 last:mb-0">
                      <div class="rounded-md shadow-filterItem">
                        <div class="filter__item__toggle flex items-center justify-between px-3 py-[10px] border border-filterBorder rounded-md cursor-pointer" data-filter-toggle>
                          <span class="type-style-p-small-bold">{{ cat | capitalize }}</span>
                          <span class="flex items-center justify-center w-5 h-5 transition-transform duration-200 ease-in-out" data-filter-icon>{%- render 'icon' with 'chevron-down' -%}</span>
                        </div>

                        <div class="filter__item__wrapper transition-maxHeight duration-300 ease-in-out overflow-hidden" data-filter-wrapper>
                          <ul class="">
                            {%- for b in section.blocks -%}
                              {%- case b.type -%}
                                {%- when 'filter_type' -%}
                                {%- assign bs = b.settings -%}
                                {%- assign filter_cat = bs.category -%}
                                {%- assign filter_name = bs.filter_name -%}
                                {%- assign filter_id = bs.filter_id -%}
                                {%- assign filter_type = bs.type -%}

                                {%- if filter_cat == cat -%}
                                  <li
                                    class="filter__item flex items-center justify-between px-3 py-[10px] first:pt-5 last:pb-5 cursor-pointer"
                                    data-filter-item
                                    data-filter-type="{{ filter_type }}"
                                    data-filter-id="{{ filter_id }}">
                                    <p class="transition-color duration-100 ease-out type-style-p-small-regular">{{ filter_name }}</p>
                                    <div class="filter__item__dot w-2 h-2 ml-5 border-2 border-orange rounded-full transition-color duration-100 ease-out"></div>
                                  </li>
                                {%- endif -%}
                              {%- endcase -%}
                            {%- endfor -%}
                          </ul>
                        </div>
                      </div>
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </div>
            <!-- /filter-list -->
          </div>

          {%- if section.settings.title != blank -%}
            <div class="row">
              <div class="col-12">
                <h2 class="candyHeadline type-style-h2-regular">{{ section.settings.title }}</h2>
              </div>
            </div>
          {%- endif -%}

          <div class="row pickNmix_row" id="pickNmix_row">
            <div class="col-9">

              {%- comment -%}
              <ul class="{{ class }}__products-wrapper flex flex-wrap -mt-8 -ml-2" data-product-list>
              {%- for product in collection.products -%}

              Products are loaded with javascript 
              /js/custom/blandSelvSlik.js

              {%- endfor -%}
              </ul>
              {%- endcomment -%}
              <div class="candyItems" data-product-list></div>

            </div>
  
            <div class="col-3">
               {%- comment -%} Visual bag {%- endcomment -%}
                <div class="{{ class }}__visual-bag {{ class }}__visual-bag-desktop visual-bag_mb"
                  data-component="visualBag"
                  data-visual-bag-wrapper>
                  <div class="page-width relative h-full">
                    <div class="{{ class }}__visual-bag__inner {{ class }}__visual-bag__inner-desktop  translate-y-[200%]" data-visual-bag-inner>
                      <div class="vb_inner">
                        <div class="flex items-center justify-between px-[35px] py-[15px] rounded-tl-md rounded-tr-md popup-header">
                          <p class="font-body font-bold text-[30px] leading-[1] type-style-card-h">{{ 'bland_selv.general.your_bag' | t }}</p>
              
                          <div class="{{ class }}__visual-bag__close flex items-center cursor-pointer" data-close-visual-bag>
                            <span class="mr-[10px] font-heading font-bold text-sm type-style-card-h">{{ 'bland_selv.general.hide' | t }}</span>
                            {%- render 'icon' with 'close-dark' -%}
                          </div>
                        </div>
              
                        <ul class="{{ class }}__visual-bag__list h-[45vh] lg:h-[43vh] pt-4 pb-[70px] lg:pb-3 px-[15px] overflow-auto" data-visual-bag></ul>
                        <div class="{{ class }}__visual-bag__closeBtn">
                           <button id="LeftbarColoseBagButton" class="barColoseBagButton type-style-button-text cursor-pointer" disabled data-submit-button>{{ 'bland_selv.general.bag_empty' | t }}</button>
                      </div>
                        <div class="custom-scrollbar" data-custom-scrollbar></div>'
                      </div>
                    </div>
                  </div>
                  <!-- /page-width -->
                </div>
            </div>


          </div>
          <div class="row">
            <div class="col-12">
              <div class="flex justify-center load-more-holder">
                <button class="load-more btn mt-12 sm:mt-10" id="load-more" data-load-more>
                  <span>{{ 'bland_selv.general.load_more' | t }}</span>
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="product-card__info fixed top-0 left-0 w-full h-screen flex items-center justify-center opacity-0 pointer-events-none transition-opacity duration-200 ease-out z-100" data-info-modal>
        <div class="overlay relative max-w-[90%] rounded-md">
          <div class="product-card__info__inner relative max-w-xl max-h-[75vh] !rounded-md bg-white text-xs sm:text-base shadow-custom">
            <div class="product-card__info__header flex items-center justify-between px-4 py-2 bg-lightPink rounded-t-md">
              <div class="flex items-center justify-center">
                <img
                  class="block w-12 h-12 mr-4 md:mr-7"
                  src=""
                  alt=""
                  data-info-modal-image>
                <span class="max-w-[80%] text-purple font-bold" data-info-modal-title></span>
              </div>
              <span class="cursor-pointer" data-close-info>{%- render 'icon' with 'close' -%}</span>
            </div>

            <div class="product-card__info__wrapper max-h-[60vh] p-4 text-purple overflow-auto" data-info-modal-description>
              {%- comment -%}
              Info content is inserted via js
              {%- endcomment -%}
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="{{ class }}__sticky fixed bottom-0 left-0 transform transition-transform duration-300 ease-out z-50 w-full translate-y-full" data-sticky-bar>
      <div class="{{ class }}__sticky__filter-button flex justify-start sm:hidden xl:hidden md:hidden" data-sticky-filter-btn>
        <div class="max767">
          <button class="buttonCorners flex items-center justify-center w-full h-[46px] font-bold text-2xs uppercase rounded-md" data-filter-button>
            <span class="mr-[6px]">{%- render 'icon' with 'filter' -%}</span>
            <span>{{ 'bland_selv.general.search_products_here' | t }}</span>
          </button>
        </div>
      </div>
      <div style="background-color: var(--brandDarkPurple);">
        <div class="page-container" id="cus_sticky-total-btn" data-sticky-total-btn>
          <div class="row">
            <div class="col-12 hideOnMobile">
              <div class="bottomBar valignMiddle">
                <div class="leftSideBar" style="width: 50%;">
                  <div class="barGramText type-style-p-small-regular">
                    {{ 'bland_selv.general.grams' | t }}
                    <span data-gram-elem></span>.
                  </div>
                  <div class="barPriceText type-style-p-bold">
                    <span>
                      {{ 'bland_selv.general.price' | t }}
                    </span>
                    <span data-total-price-elem></span>.
                  </div>
                </div>
                <div class="rightSideBar" style="width: 50%;">
                  <button class="barSeeBagButton type-style-button-text cursor-pointer" data-toggle-visual-bag>{{ 'bland_selv.general.see_bag' | t }}</button>
                  <button
                    class="barColoseBagButton type-style-button-text cursor-pointer"
                    disabled
                    data-submit-button>{{ 'bland_selv.general.bag_empty' | t }}</button>
                </div>
              </div>
            </div>
            <div class="col-12 hideOnDesktop">
              <div class="bottomBar valignMiddle">
                <div class="flex" style="width: 100%;
                                                                                                                                    display: flex;
                                                                                                                                    flex-direction: row;
                                                                                                                                    flex-wrap: nowrap;
                                                                                                                                    align-content: center;
                                                                                                                                    justify-content: space-between;
                                                                                                                                    align-items: center;">
                  <div class="barGramText type-style-p-small-regular">
                    <span>{{ 'bland_selv.general.grams' | t }}</span>
                    <span data-gram-elem-mobile></span>.
                  </div>
                  <div class="barPriceText type-style-p-bold">
                    <span>
                      {{ 'bland_selv.general.price' | t }}
                    </span>
                    <span data-total-price-elem-mobile></span>.
                  </div>
                </div>
                <div class="flex" style="width: 100%;">
                  <button class="barSeeBagButton cursor-pointer" data-toggle-visual-bag>{{ 'bland_selv.general.see_bag' | t }}</button>
                  <button
                    class="barColoseBagButton cursor-pointer"
                    disabled
                    data-submit-button>{{ 'bland_selv.general.bag_empty' | t }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>



  {%- comment -%}
  Name prompt modal
  {%- endcomment -%}{%- comment -%}
  <div class="{{ class }}__name-prompt fixed top-0 left-0 w-full h-screen flex items-center justify-center z-50" data-name-prompt>
  <div class="{{ class }}__name-prompt__inner flex flex-col relative p-9 rounded-md bg-white shadow-custom">
  <div class="{{ class }}__name-prompt__close absolute" data-name-prompt-close>
  {%- render 'icon' with 'close' -%}
  </div>
  <p class="mb-3 font-body font-semibold text-2xl">{{ 'bland_selv.name_prompt.write_name' | t }}</p>
  <input class="mb-5" type="text" placeholder="{{ 'bland_selv.name_prompt.name_placeholder' | t }}" data-name-prompt-input>
  <button class="btn" type="button" onclick="addPushEvent()" data-final-submit>
  {{ 'bland_selv.name_prompt.submit' | t }}
  </button>
  </div>
  </div>
  {%- endcomment -%}<div class="{{ class }}__name-prompt fixed top-0 left-0 w-full h-screen flex items-center justify-center z-50" data-name-prompt>
    <div class="{{ class }}__name-prompt__inner flex flex-col relative p-9 rounded-md bg-white shadow-custom">
      <div class="{{ class }}__name-prompt__close absolute" data-name-prompt-close>
        {%- render 'icon' with 'close' -%}
      </div>

      <div class="max-w-xs">
        <h3 class="mb-3 text-center type-style-h3-bold">{{ 'bland_selv.name_prompt.write_name' | t }}</h3>
        <p class="mb-3 text-center type-style-p-regular">{{ 'bland_selv.name_prompt.write_description' | t }}</p>
      </div>
      <input
        class="mb-5"
        type="text"
        placeholder="{{ 'bland_selv.name_prompt.name_placeholder' | t }}"
        data-name-prompt-input>
      <button
        class="btn type-style-button-text"
        type="button"
        onclick="addPushEvent()"
        data-final-submit>
        {{ 'bland_selv.name_prompt.submit' | t }}
      </button>

      <p class="text-center type-style-p-small-regular">
        <a
          data-name-prompt-skip
          class="underline underline-offset-1"
          href="javascript:void(0);">{{ 'bland_selv.name_prompt.skip' | t }}</a>
      </p>


    </div>
  </div>

  {%- comment -%}
  Re Name prompt modal
  {%- endcomment -%}<div class="{{ class }}__name-prompt fixed top-0 left-0 w-full h-screen flex items-center justify-center z-50" data-ask-rename-prompt>
    <div class="{{ class }}__name-prompt__inner flex flex-col relative p-9 rounded-md bg-white shadow-custom">
      <div
        class="{{ class }}__name-prompt__close absolute"
        data-ask-rename-prompt-close
        style="display: none;">
        {%- render 'icon' with 'close' -%}
      </div>

      <div class="max-w-xs">
        <h3 class="mb-3 text-center type-style-h3-bold" data-ask-rename-headline>{{ "bland_selv.rename_prompt.title" | t | strip_html }}</h3>
        <p class="mb-3 text-center type-style-p-regular" data-ask-rename-description>{{ "bland_selv.rename_prompt.description" | t | strip_html }}</p>
      </div>

      <div class="btn-groups mt-3">
        <button
          class="btn type-style-button-text"
          type="button"
          data-ask-rename-submit>{{ "bland_selv.rename_prompt.accept" | t | strip_html }}</button>

        <button
          class="btn type-style-button-text"
          type="button"
          data-ask-rename-decline>
          {{ 'bland_selv.rename_prompt.decline' | t | strip_html }}
        </button>
      </div>

    </div>
  </div>

  {%- comment -%}
  Success modal
  {%- endcomment -%}<div class="{{ class }}__success-modal fixed top-0 left-0 w-full h-screen flex items-center justify-center z-50" data-success-modal>
    <div class="{{ class }}__success-modal__inner relative p-9 rounded-md bg-white shadow-custom">
      <p class="max-w-xs mb-1 font-body font-semibold text-2xl">{{ 'bland_selv.general.success' | t }}</p>
      <p class="mb-5 font-body">{{ 'bland_selv.general.what_now' | t }}</p>
      <div class="flex-button items-center justify-center">
        <a href="https://www.slikekspressen.dk/collections/bland-selv-slik" class="btn btn-full-width mx-0 mb-2 type-style-button-text">{{ 'bland_selv.general.mix_again' | t }}</a>
        <a
          data-component="cleanPose"
          href="/cart"
          class="btn bg-purple btn-full-width mx-0 type-style-button-text"
          id="go-to-cart"
          >{{ 'bland_selv.general.go_to_cart' | t }}</a>
      </div>
    </div>
  </div>

{% endpaginate %}

{% render 'bland-selv-snippet' %}


<script>
<!--remove sticky button when no products into the bag-->
      
      function checkListAndUpdateButton() {
        var ulElement = document.querySelector('.bland-selv-slik__visual-bag__list');
        var btnElement = document.getElementById('cus_sticky-total-btn');

        if (ulElement && ulElement.querySelectorAll('li').length === 0) {
            btnElement.classList.add('is--hidden');
          document.getElementById("LeftbarColoseBagButton").innerHTML = "DIN POSE ER TOM";
        } else {
            btnElement.classList.remove('is--hidden');
        }
    }

    checkListAndUpdateButton();
    var observer = new MutationObserver(function () {
        checkListAndUpdateButton();
    });
    var targetNode = document.querySelector('.bland-selv-slik__visual-bag__list');
    var config = { childList: true, subtree: true };
    observer.observe(targetNode, config);

    
    
<!-- add product from mixing section by clicking top product-->
  
    function handleButtonClick() {
      var testButtonTitle = $("#candyBoxBuyButtonTop").data("title");

      if ($(".candyBoxBuyButtonPnM[data-title='" + testButtonTitle + "']").length > 0) {
        $(".candyBoxBuyButtonPnM[data-title='" + testButtonTitle + "']").click();

        $(".candyBoxBuyButtonPnM[data-title='" + testButtonTitle + "']").addClass("your-new-class");
      }
    }

    document.getElementById("candyBoxBuyButtonTop").addEventListener("click", handleButtonClick);

    var jq = document.createElement('script');
    jq.src = "https://code.jquery.com/jquery-3.6.0.min.js";
    jq.onload = function () {
      console.log("jQuery has been loaded!");
    };
    document.head.appendChild(jq);


      
<!--pagination-->
        
  function handleCandyItems() {
    var itemsPerPage = 20;
    var currentPage = 0;
    var loadedFirst = false;

    function showMoreItems() {
      var from = currentPage * itemsPerPage;
      var to = from + itemsPerPage;

      $('.candyItems .candyBox').slice(from, to).fadeIn();
      currentPage++;
    }

    $(window).scroll(function() {
      var scrollPercent = ($(window).scrollTop() / ($(document).height() - $(window).height())) * 100;

      if (!loadedFirst && $(window).scrollTop() > 10) {
        showMoreItems();
        loadedFirst = true;
      }

      if (scrollPercent > 80) {
        showMoreItems();
      }
    });
  }

  var jq = document.createElement('script');
  jq.src = "https://code.jquery.com/jquery-3.6.0.min.js";
  jq.onload = function() {
    $(document).ready(function() {
      handleCandyItems();
    });
  };

  document.body.appendChild(jq);
</script>

<!--//GTM dataLayer add_to_cart event-->
<script>
  function addPushEvent() {
    
    fetch(`${window.location.origin}/cart.js`)
      .then(res => res.clone().json().then(data => {
        var cart = {
          total_price: data.total_price/100,
          $value: data.total_price/100,
          total_discount: data.total_discount,
          original_total_price: data.original_total_price/100,
          items: data.items
        }
        _learnq.push(['track', 'Added to Cart', cart]);
      }))
    
    setTimeout(() => {
      var idsStrArray = [];
      var a = document.querySelectorAll('div.product-card__qty-wrapper.is--visible');
      for (var j in a) 
        if (a.hasOwnProperty(j)) {
          idsStrArray.push(a[j].getAttribute('data-qty-id'));
        }
      



      var idsNumArray = idsStrArray.map(Number);
      var cartContents = fetch(window.Shopify.routes.root + 'cart.js').then(response => response.json()).then(data => {
        var contents = [];
        var lineproducts = data.items;
        idsNumArray.forEach(item => {
          for (let i = 0; i < lineproducts.length; i++) {
            if (item == lineproducts[i]['id']) {
              contents.push({
                'item_name': lineproducts[i]['title'],
                'item_id': lineproducts[i]['product_id'],
                'item_sku': lineproducts[i]['sku'],
                'item_variant': lineproducts[i]['variant_id'],
                'price': lineproducts[i]['price'] / 100,
                'item_brand': lineproducts[i]['vendor'],
                'item_category': lineproducts[i]['product_type'],
                'item_image': lineproducts[i]['image'],
                'quantity': lineproducts[i]['quantity']
              });
            }
          }
        });
        dataLayer.push({ecommerce: null});
        dataLayer.push({
          'event': 'add_to_cart_stape',
          'ecommerce': {
            'currency': data.currency,
            'items': contents
          }
        });
      });
    }, "500")
  }

  document.addEventListener("DOMContentLoaded", function () {
    document.getElementById("go-to-cart").addEventListener("click", function () {
      let url = new URL(window.location.href);
      if(url.searchParams.has("select-product")) {
        url.searchParams.delete("select-product");
        history.replaceState(null, "", url.toString());
      }
    });
  });

  /* smooth section jump */
      var jq = document.createElement('script');
      jq.src = "https://code.jquery.com/jquery-3.6.0.min.js";
      document.getElementsByTagName('head')[0].appendChild(jq);
      
      jq.onload = function() {
        $('#candyBoxBuyButtonTop').click(function() {
          $('#pickNmix_row_jump').get(0).scrollIntoView({ behavior: 'smooth' });
        });
        
      };
       
</script>

<script>
  let coll = document.getElementsByClassName("collapsible__button")[0];
  
  coll.addEventListener("click", function () {
    this.classList.toggle("content--active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight) {
      content.style.maxHeight = null;
      content.style.opacity = "0"; 
    } else {
      content.style.maxHeight = "200px";
      content.style.opacity = "1"; 
    }
  });

 {% comment %} add position fixed on visual bag in mobile {% endcomment %}
   var jq = document.createElement('script');
    jq.src = "https://code.jquery.com/jquery-3.6.0.min.js";
    document.getElementsByTagName('head')[0].appendChild(jq);
    jq.onload = function() {
        $('.barSeeBagButton').on('click', function() {
            $('.visual-bag_mb').css({
                'position': 'fixed',
                'display': 'block' 
            });
        });
    };


</script>

{% schema %}
  {
    "name": "pickNmix-mp settings",
    "tag": "section",
    "settings": [
      {
        "type": "product",
        "id": "featured_product",
        "label": "Product"
      },
      {
         "type": "collection",
         "id": "collection_handle",
         "label": "Feature collection"
      },
      {
        "type": "richtext",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "title2",
        "label": "Title 2"
      },
      {
        "type": "header",
        "content": "Paginate products",
        "info": "How many products to show per page"
      },
      {
        "type": "range",
        "id": "paginate",
        "label": "Paginate",
        "min": 8,
        "max": 400,
        "step": 4,
        "default": 240
      },
      {
        "type": "header",
        "content": "Price limit",
        "info": "The limit in kilogram to when the user can close the bag"
      }, {
        "type": "number",
        "id": "price_limit",
        "label": "Price limit",
        "default": 129
      }, {
        "type": "number",
        "id": "width_item",
        "label": "Item Width",
        "default": 275
      }, {
        "type": "radio",
        "id": "autoload",
        "label": "Pagination Type",
        "default": "button",
        "options": [
          {
            "value": "button",
            "label": "By Click Button"
          }, {
            "value": "automaticly",
            "label": "Autoload by cursor"
          }
        ]
      },
     {
        "type": "text",
        "id": "accordion_title",
        "label": "Description Accordion title"
      }
    ],
    "blocks": [
      {
        "name": "Filter type",
        "type": "filter_type",
        "settings": [
          {
            "type": "select",
            "id": "category",
            "label": "Filter category",
            "options": [
              {
                "value": "kategori",
                "label": "Kategori"
              }, {
                "value": "indhold",
                "label": "Indhold"
              }, {
                "value": "favoritter",
                "label": "Favoritter"
              }
            ]
          }, {
            "type": "select",
            "id": "type",
            "label": "Type or Tag",
            "options": [
              {
                "value": "type",
                "label": "Type"
              }, {
                "value": "tags",
                "label": "Tags"
              }
            ]
          }, {
            "type": "text",
            "id": "filter_id",
            "label": "Filter id",
            "info": "Exact name as type or whole tag, eg. 'type_sukkerfri'"
          }, {
            "type": "text",
            "id": "filter_name",
            "label": "Filter name"
          }
        ]
      }
    ]
  }
{% endschema %}